AppBundle\Entity\Dictionary\Word:
  collectionOperations:
    get:
      method: 'GET' # nothing more to add if we want to keep the default controller
      normalization_context:
        groups: ['list_words']
  itemOperations:
    get:
      method: 'GET'
      normalization_context:
        groups: ['get_word']
    rhymeform:
      route_name: 'rhymeform'
      swagger_context:
        parameters:
          -
            name: id
            in: path
            required: true
            type: string
        responses:
          200:
            description: "rhymeform of the word"
            schema:
              type: "object"
              required: ["rhymeform"]
              properties:
                rhymeform:
                  type: "string"
          404:
            description: "Resource not found"
        summary: "Retrieve the rhymeform of a word"
        consumes: ["application/json", "text/html"]
        produces: ["application/json"]
    syllables:
      route_name: 'syllables'
      swagger_context:
        parameters:
          -
            name: id
            in: path
            required: true
            type: string
        responses:
          200:
            description: "syllables of the word separated by dash"
            schema:
              type: "object"
              required: ["syllables"]
              properties:
                syllables:
                  type: "string"
          404:
            description: "Resource not found"
        summary: "Retrieve the syllables of a word"
        consumes: ["application/json", "text/html"]
        produces: ["application/json"]

AppBundle\Entity\Dictionary\WordType:
  collectionOperations:
    get:
      method: 'GET'
  itemOperations:
    get:
      method: 'GET'

AppBundle\Entity\Metadata:
  itemOperations: ~
  collectionOperations:
    get:
      method: 'GET'
      normalization_context:
        groups: ['list_metadata']
    post:
      method: 'POST'
  attributes:
    enable_max_depth: true
    normalization_context:
      groups: ['list_metadata']
    filters: ['metadata.search']

AppBundle\Entity\Image:
  itemOperations:
    get:
      method: 'GET'
      normalization_context:
        groups: ['get_image']
    delete:
      method: 'DELETE'
      normalization_context:
        groups: ['get_image']
    images_search:
      route_name: 'images_search'
      swagger_context:
        parameters:
          -
            name: term
            in: query
            required: true
            type: string
          -
            name: page
            in: query
            required: false
            type: string
        responses:
          200:
            description: "found images"
            schema:
              type: "object"
              required: ["images"]
              properties:
                images:
                  type: "string"
          404:
            description: "Resource not found"
        summary: "Search images by term"
        consumes: ["application/json", "text/html"]
        produces: ["application/json"]
    images_upload:
      route_name: 'images_upload'
      swagger_context:
        parameters:
          -
            name: image
            in: body
            required: true
            type: string
            description: The image data
            schema:
              type: object
              description: The image data
              properties:
                filename:
                  type: string
                data:
                  type: string
              default:
                filename: ""
                data: ""
        responses:
          201:
            description: "Image created successfully"
            schema:
              type: "object"
              required: ["image"]
              properties:
                src:
                  type: "string"
          422:
            description: "Bad data sent"
        summary: "Upload an image"
        consumes: ["application/json"]
        produces: ["application/json","application/hal+json"]
    dynamic-image:
      route_name: 'dynamic-image'
  collectionOperations:
    get:
      method: 'GET'
    enrich:
      route_name: 'enrich'

AppBundle\Entity\ImageMetadata:
  itemOperations: ~
  collectionOperations:
    get:
      method: 'GET'
    post:
      method: 'POST'
      normalization_context:
        groups: ['create_image_metadata']

AppBundle\Entity\Dictionary\IncorrectForm:
  collectionOperations:
    get:
      method: 'GET'
  itemOperations:
    get:
      method: 'GET'

AppBundle\Entity\Dictionary\DerivativeForm:
  collectionOperations:
    get:
      method: 'GET' # nothing more to add if we want to keep the default controller
  itemOperations:
    get:
      method: 'GET'
