AppBundle\Entity\Word:
  collectionOperations:
    get:
      method: 'GET' # nothing more to add if we want to keep the default controller
  itemOperations:
    get:
      method: 'GET'
    rhymeform:
      route_name: 'rhymeform'
      swagger_context:
        parameters:
          -
            name: id
            in: path
            required: true
            type: string
        responses:
          200:
            description: "rhymeform of the word"
            schema:
              type: "object"
              required: ["rhymeform"]
              properties:
                rhymeform:
                  type: "string"
          404:
            description: "Resource not found"
        summary: "Retrieve the rhymeform of a word"
        consumes: ["application/json", "text/html"]
        produces: ["application/json"]
  attributes:
    filters: [word.search]

AppBundle\Entity\WordType:
  collectionOperations:
    get:
      method: 'GET' # nothing more to add if we want to keep the default controller
  itemOperations:
    get:
      method: 'GET'

#AppBundle\Entity\Rhymeform:
#  itemOperations:
#    get:
#      method: 'GET'

AppBundle\Entity\IncorrectForm:
  collectionOperations:
    get:
      method: 'GET' # nothing more to add if we want to keep the default controller
  itemOperations:
    get:
      method: 'GET'

AppBundle\Entity\DerivativeForm:
  collectionOperations:
    get:
      method: 'GET' # nothing more to add if we want to keep the default controller
  itemOperations:
    get:
      method: 'GET'
