# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
      FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
      ROLE_READER: ROLE_USER
      ROLE_ADMIN: ROLE_READER

#    providers:
#        in_memory:
#            memory: ~

    providers:
      fos_userbundle:
        id: fos_user.user_provider.username

    firewalls:
       main:
          pattern:   ^/
          provider: fos_userbundle
          stateless: true
          anonymous: true
          lexik_jwt: ~
       dev:
          pattern:  ^/(_(profiler|wdt)|css|images|js)/
          security: false

#        main:
#            anonymous: ~
    access_control:
      - { path: ^/authenticate, method: POST, role: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/users, method: POST, role: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/, roles: [ IS_FULLY_AUTHENTICATED ] }