# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:

services:
  words.search_filter:
    parent:    'api_platform.doctrine.orm.search_filter'
    arguments: [ { name: 'partial' } ]
    tags:      [ { name: 'api_platform.filter', id: 'word.search' } ]

  metadata.search_filter:
    parent:    'api_platform.doctrine.orm.search_filter'
    arguments: [ { name: 'partial' } ]
    tags:      [ { name: 'api_platform.filter', id: 'metadata.search' } ]

  'AppBundle\Action\UserAction':
    class: 'AppBundle\Action\UserAction'
    arguments: [ '@service_container' ]

  'AppBundle\Action\Image\SearchAction':
    class: 'AppBundle\Action\Image\SearchAction'
    arguments: [ '@service_container' ]

  'AppBundle\Action\Image\UploadAction':
    class: 'AppBundle\Action\Image\UploadAction'
    arguments: [ '@service_container' ]

  'AppBundle\Action\Image\DynamicImageAction':
    class: 'AppBundle\Action\Image\DynamicImageAction'
    arguments: [ '@service_container' ]

  'AppBundle\Action\Image\EnrichAction':
    class: 'AppBundle\Action\Image\EnrichAction'
    arguments: [ '@doctrine.orm.entity_manager', '@api_platform.serializer' ]

  app.documentation.normalizer:
    class: AppBundle\Documentation\DocumentationNormalizer
    decorates: api_platform.swagger.normalizer.documentation
    arguments: ['@app.documentation.normalizer.inner']
    public: false

  app.serializer.builder.common:
    decorates: api_platform.serializer.context_builder
    class: AppBundle\Serializer\EnrichmentContextBuilder
    arguments: ['@app.serializer.builder.common.inner']

  'AppBundle\Services\GoogleVisionService':
    class: AppBundle\Services\GoogleVisionService
    arguments: ['%google_project_id%','%google_key_file_path%']